<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel de Administrador</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .btn-admin {
            display: block;
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto py-8 px-4">
        <h1 class="text-3xl font-bold mb-8">Panel de Administrador</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <a href="/detalles-venta" class="bg-blue-500 text-white rounded-lg py-2 px-4 hover:bg-blue-600 transition duration-300 btn-admin">Detalles de Venta</a>
            <a href="/estadisticas" class="bg-blue-500 text-white rounded-lg py-2 px-4 hover:bg-blue-600 transition duration-300 btn-admin">Estadísticas</a>
            <a href="/productos/rentabilidad" class="bg-blue-500 text-white rounded-lg py-2 px-4 hover:bg-blue-600 transition duration-300 btn-admin">Productos Rentabilidad</a>
            <a href="/compras" class="bg-blue-500 text-white rounded-lg py-2 px-4 hover:bg-blue-600 transition duration-300 btn-admin">Compras</a>
            <a href="/productos" class="bg-blue-500 text-white rounded-lg py-2 px-4 hover:bg-blue-600 transition duration-300 btn-admin">Productos</a>
			<a href="/print/configure" class="bg-blue-500 text-white rounded-lg py-2 px-4 hover:bg-blue-600 transition duration-300 btn-admin">Configurar Puerto Impresora</a>
			<a href="/barcode/configure" class="bg-blue-500 text-white rounded-lg py-2 px-4 hover:bg-blue-600 transition duration-300 btn-admin">Configurar Puerto Escaner</a>
			<a href="/productos/gestionStock" class="bg-blue-500 text-white rounded-lg py-2 px-4 hover:bg-blue-600 transition duration-300 btn-admin">Gestion Stock</a>
			 </div>
    </div>
</body>
</html>
