<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="_csrf" content="YOUR_CSRF_TOKEN">
<meta name="_csrf_header" content="YOUR_CSRF_HEADER">

<head>
    <meta charset="UTF-8">
    <title>Rentabilidad por Ejercicio</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script>
        // Configuración de CSRF
        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        function actualizarStockInsumos() {
            const insumosConsumidos = [];
            document.querySelectorAll('tbody tr').forEach(row => {
                const checkbox = row.querySelector('input[type="checkbox"]');
                if (checkbox && checkbox.checked) {
                    const insumoId = checkbox.value;
                    const cantidadElement = document.getElementById(`cantidad-${insumoId}`);
                    const cantidad = parseFloat(cantidadElement.value) || 0;
                    insumosConsumidos.push({ id: insumoId, cantidad });
                }
            });

			
            if (insumosConsumidos.length === 0) {
                alert("Selecciona al menos un insumo para actualizar el stock.");
                return;
            }

            fetch("/rentabilidad-ejercicio/actualizarStockInsumos", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    [csrfHeader]: csrfToken
                },
                body: JSON.stringify(insumosConsumidos)
            })
                .then(response => {
                    if (response.ok) {
                        alert("El stock ha sido actualizado.");
                    } else {
                        alert("Error al actualizar el stock.");
                    }
                })
                .catch(error => console.error("Error:", error));
        }

        function actualizarCostoTotalInsumos() {
            let costoTotal = 0;
            const insumos = document.querySelectorAll('.insumo');
            insumos.forEach(insumo => {
                const checkbox = insumo.querySelector('input[type="checkbox"]');
                const cantidadInput = insumo.querySelector('input[type="number"]');
                const precioUnitarioElement = insumo.querySelector('td[data-precio]');

                if (checkbox && checkbox.checked) {
                    const cantidad = parseFloat(cantidadInput.value) || 0;
                    const precioUnitario = parseFloat(precioUnitarioElement.getAttribute('data-precio')) || 0;
                    costoTotal += precioUnitario * cantidad;
                }
            });

            document.getElementById('costoTotalInsumos').textContent = costoTotal.toFixed(2);
            calcularBalanceNeto();
        }

        function calcularMonto(insumoId) {
            const precioCompraElement = document.querySelector(`[data-insumo-id="${insumoId}"] [data-precio]`);
            const cantidadElement = document.getElementById(`cantidad-${insumoId}`);
            const totalElement = document.getElementById(`total-${insumoId}`);
            if (precioCompraElement && cantidadElement && totalElement) {
                const precioCompra = parseFloat(precioCompraElement.dataset.precio) || 0;
                const cantidad = parseFloat(cantidadElement.value) || 0;
                totalElement.innerText = (precioCompra * cantidad).toFixed(2);
                actualizarCostoTotalInsumos();
            }
        }

        function calcularBalanceNeto() {
            const gananciaTotal = parseFloat(document.getElementById('gananciaTotalPeriodo').textContent) || 0;
            const costoTotalInsumos = parseFloat(document.getElementById('costoTotalInsumos').textContent) || 0;
            const balanceNeto = gananciaTotal - costoTotalInsumos;
            document.getElementById('balanceNeto').textContent = balanceNeto.toFixed(2);
            document.getElementById('costoTotalInsumosBalance').textContent = costoTotalInsumos.toFixed(2);
        }

        function validarCantidad(input) {
            if (input.value < 0) {
                alert("La cantidad no puede ser negativa.");
                input.value = 0;
            }
        }
		
		function calcularDineroTotalRecaudado() {
		    let totalRecaudado = 0;
			document.querySelectorAll('[data-total-venta]').forEach(venta => {
		        totalRecaudado += parseFloat(venta.textContent) || 0;
		    });
		    return totalRecaudado.toFixed(2);
		}
		
		
		function calcularInversionTotal() {
		    let inversionTotal = 0;

		    // Seleccionamos todos los elementos que contienen el precio de compra
		    document.querySelectorAll('td[data-precio]').forEach(precioCompra => {
		        const precio = parseFloat(precioCompra.getAttribute('data-precio')) || 0; // Obtener el precio desde el atributo data-precio
		        inversionTotal += precio; 
		    });

		    const inversionTotalElement = document.getElementById('inversionTotal');
		    if (inversionTotalElement) {
		        inversionTotalElement.textContent = inversionTotal.toFixed(2); // Actualiza el elemento con el total de la inversión
		    } else {
		        console.error('El elemento de inversión total no se encontró.');
		    }

		    return inversionTotal;  // Asegúrate de devolver este valor
		}


		

		// Use this calculated value in guardarBalance:
		function guardarBalance() {
		    const gananciaTotal = parseFloat(document.getElementById('gananciaTotalPeriodo').textContent) || 0;
		    const dineroTotalRecaudado = calcularDineroTotalRecaudado();
		    const gastoInsumos = parseFloat(document.getElementById('costoTotalInsumos').textContent) || 0;
			const balanceNeto = gananciaTotal - gastoInsumos;  // Calcula balance neto aquí
			const inversionTotal = calcularInversionTotal();  // Calcula balance neto aquí


		    const balance = {
		        gananciaTotal,
		        inversionTotal,
		        dineroTotalRecaudado,
		        gastoInsumos,
				balanceNeto: balanceNeto  // Añade balance neto

		    };

		    fetch("/rentabilidad-ejercicio/guardarBalance", {
		        method: "POST",
		        headers: {
		            "Content-Type": "application/json",
		            [csrfHeader]: csrfToken
		        },
		        body: JSON.stringify(balance)
		    })
		    .then(response => {
		        if (response.ok) {
		            alert('Balance guardado exitosamente!');
		        } else {
		            alert('Error al guardar el balance.');
		        }
		    })
		    .catch(error => console.error("Error:", error));
		}

        document.addEventListener("DOMContentLoaded", calcularBalanceNeto);
		
		
		document.addEventListener("DOMContentLoaded", function() {
		          calcularBalanceNeto();
		          calcularInversionTotal(); // Llama a calcularInversionTotal al cargar la página
		      });
    </script>
</head>

<body class="bg-gray-100 p-4">
    <div class="max-w-7xl mx-auto py-8 sm:px-6 lg:px-8 bg-white shadow-lg rounded-lg">
        <h1 class="text-4xl font-extrabold text-blue-800 mb-10 text-center">Rentabilidad por Ejercicio</h1>

        <!-- Filtro por rango de fechas -->
        <form method="get" action="/rentabilidad-ejercicio" class="mb-8 bg-gray-50 p-4 rounded-lg shadow-inner">
            <div class="flex flex-wrap space-x-4 items-end">
                <div class="flex flex-col">
                    <label for="fechaInicio" class="text-sm font-semibold text-gray-700 mb-2">Fecha Inicio:</label>
                    <input type="date" id="fechaInicio" name="fechaInicio" class="block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>
                <div class="flex flex-col">
                    <label for="fechaFin" class="text-sm font-semibold text-gray-700 mb-2">Fecha Fin:</label>
                    <input type="date" id="fechaFin" name="fechaFin" class="block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500">
                </div>
                <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded shadow mt-6 transition duration-200">Filtrar</button>
            </div>
        </form>

        <!-- Tabla de resultados -->
        <table class="min-w-full divide-y divide-gray-200 shadow-md rounded-lg overflow-hidden mb-10">
            <thead class="bg-blue-600 text-white">
                <tr>
					<th class="px-2 py-3 text-left text-xs font-semibold uppercase tracking-wider">ID Venta</th>
                    <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Fecha</th>
                    <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Método de Pago</th>
                    <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Detalles de Productos</th>
					<th class="px-1 py-3 text-left text-xs font-semibold uppercase tracking-wider">Subtotal</th>
                    <th class="px-1 py-3 text-left text-xs font-semibold uppercase tracking-wider">Descuento</th>
                    <th class="px-1 py-3 text-left text-xs font-semibold uppercase tracking-wider">Recargo</th>
                    <th class="px-1 py-3 text-left text-xs font-semibold uppercase tracking-wider">Total</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <tr th:each="venta : ${rentabilidadPorVenta}">
					<td th:text="${venta.idVenta}" class="px-1 py-4"></td>
                    <td th:text="${#temporals.format(venta.fechaHora, 'yyyy-MM-dd')}" class="px-6 py-4"></td>
                    <td th:text="${venta.metodoPago}" class="px-1 py-4"></td>
                    <td class="px-6 py-4">
                        <table class="bg-gray-100 w-full">
                            <thead class="bg-gray-200 text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                <tr>
                                    <th class="p-2">Producto</th>
                                    <th class="p-2">Cantidad</th>
                                    <th class="p-2">Precio Venta</th>
                                    <th class="p-2">Precio Compra</th>
                                    <th class="p-2">Ganancia Unitaria</th>
                                    <th class="p-2">Ganancia Total</th>
                                </tr>
                            </thead>
							<tbody th:each="detalle : ${venta.detallesVenta}">
							    <tr>
							        <!-- Si el producto es nulo, muestra "Producto ingresado manual", si no, muestra el nombre del producto -->
							        <td th:text="${detalle.producto != null ? detalle.producto.nombre : 'Producto ingresado manual'}" class="p-2 text-gray-700"></td>
							        <td th:text="${detalle.cantidad}" class="p-2 text-gray-700"></td>
							        
							        <!-- Precio de venta, si el producto es nulo, usa el precio manual -->
									<td th:text="${detalle.producto != null ? detalle.producto.precioVenta : detalle.subtotal}" class="p-2 text-gray-700"></td>

									<td th:attr="data-precio=${detalle.producto != null ? detalle.producto.precioCompra : (detalle.subtotal - (detalle.subtotal * 0.30))}" 
									    th:text="${detalle.producto != null ? detalle.producto.precioCompra : (detalle.subtotal - (detalle.subtotal * 0.30))}" 
									    class="p-2 text-gray-700"></td>

									<td th:text="${detalle.producto != null ? (detalle.producto.precioVenta - detalle.producto.precioCompra) : (detalle.subtotal - (detalle.subtotal * 0.30) - (detalle.subtotal * 0.30))}" 
									    class="p-2 text-gray-700"></td>

									<td th:text="${detalle.producto != null ? (detalle.cantidad * (detalle.producto.precioVenta - detalle.producto.precioCompra)) : (detalle.cantidad * (detalle.subtotal - (detalle.subtotal * 0.30) - (detalle.subtotal * 0.30)))}" 
									    class="p-2 text-gray-700"></td>

							    </tr>
							</tbody>

							

                        </table>
                    </td>
					<td th:text="${venta.subtotal}" class="px-6 py-4"></td>
                    <td th:text="${venta.descuento}" class="px-6 py-4"></td>
                    <td th:text="${venta.recargo}" class="px-6 py-4"></td>
                    <td th:text="${venta.totalVenta}" class="px-6 py-4" data-total-venta></td>
                </tr>
            </tbody>
        </table>

		<!-- Tabla de insumos -->
		<h2 class="text-2xl font-semibold mb-4 text-gray-800">Insumos</h2>
		<table class="min-w-full divide-y divide-gray-200 shadow-md rounded-lg overflow-hidden mb-10">
		    <thead class="bg-blue-600 text-white">
		        <tr>
		            <th class="px-6 py-3 text-center text-xs font-semibold uppercase tracking-wider">Seleccionar</th>
		            <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Insumo</th>
		            <th class="px-6 py-3 text-center text-xs font-semibold uppercase tracking-wider">Stock Disponible</th>
		            <th class="px-6 py-3 text-center text-xs font-semibold uppercase tracking-wider">Precio Unitario</th>
		            <th class="px-6 py-3 text-center text-xs font-semibold uppercase tracking-wider">Cantidad</th>
		            <th class="px-6 py-3 text-center text-xs font-semibold uppercase tracking-wider">Costo Insumo</th>
		        </tr>
		    </thead>
		    <tbody class="bg-white divide-y divide-gray-200">
		        <tr th:each="insumo : ${insumos}" class="hover:bg-gray-50 text-gray-800 insumo transition duration-150" th:data-insumo-id="${insumo.id}">
		            <td class="px-4 py-2 text-center">
		                <input class="rounded border-gray-300 focus:ring-blue-500 focus:border-blue-500" type="checkbox" th:value="${insumo.id}" onclick="actualizarCostoTotalInsumos()">
		            </td>
		            <td class="px-4 py-2" th:text="${insumo.nombre}"></td>
		            <td class="px-4 py-2 text-center" th:text="${insumo.stock}"></td>
		            <td class="px-4 py-2 text-center" th:data-precio="${insumo.precioCompra}" th:text="${insumo.precioCompra}"></td>
		            <td class="px-4 py-2 text-center">
		                <div class="flex justify-center">
		                    <input type="number" th:id="'cantidad-' + ${insumo.id}" onchange="calcularMonto([[${insumo.id}]]); actualizarCostoTotalInsumos();" min="0" class="w-24 rounded border-gray-300 focus:ring-blue-500 focus:border-blue-500 text-center">
		                </div>
		            </td>
		            <td class="px-4 py-2 text-center" th:id="'total-' + ${insumo.id}">0.00</td>
		        </tr>
		    </tbody>
		</table>
		
		
		

        <!-- Acciones finales -->
        <div class="flex space-x-4 mb-10">
            <button onclick="actualizarStockInsumos()" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-6 rounded shadow transition duration-200">Actualizar Insumos</button>
            <button onclick="guardarBalance()" class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-6 rounded shadow transition duration-200">Guardar Balance</button>
        </div>

        <!-- Balance Final -->
        <h2 class="text-2xl font-semibold mt-6 mb-4 text-gray-800">Balance Final</h2>
        <table class="min-w-full divide-y divide-gray-200 shadow-md rounded-lg overflow-hidden">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Concepto</th>
                    <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Monto</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <tr>
                    <td class="px-6 py-4">Inversión en mercaderías</td>
                    <td class="px-6 py-4">$<span id="inversionTotal">0.00</span></td>
                </tr>
                <tr>
                    <td class="px-6 py-4">Total de Ganancias</td>
                    <td class="px-6 py-4">$<span id="gananciaTotalPeriodo" th:text="${gananciaTotalPeriodo != null ? gananciaTotalPeriodo : '0.00'}">0.00</span></td>
                </tr>
                <tr>
                    <td class="px-6 py-4">Costo Total de Insumos Consumidos</td>
                    <td class="px-6 py-4">$<span id="costoTotalInsumos">0.00</span></td>
                </tr>
                <tr>
                    <td class="px-6 py-4 font-bold">Balance Neto</td>
                    <td class="px-6 py-4 font-bold">$<span id="balanceNeto">0.00</span></td>
                </tr>
            </tbody>
        </table>
		
		<!-- Listado de balances anteriores -->
		<div class="mb-8">
		    <div th:each="balance : ${balances}">
		        <form th:action="@{/rentabilidad-ejercicio/balances/{id}(id=${balance.id})}" method="get">
		            <button type="submit" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-6 rounded-lg shadow-md hover:shadow-lg mb-4 w-full">
		                <span th:if="${balance.fechasCompras.size() > 0}">
		                    <!-- Concatenar fechas con guion entre ellas -->
		                    <span th:each="fecha, iterStat : ${balance.fechasCompras}" th:text="${iterStat.index != 0 ? ' - ' : ''} + ${#temporals.format(fecha, 'dd-MM-yyyy')}"></span>
		                </span>
		                <span th:if="${balance.fechasCompras.size() == 0}">Fecha no disponible</span>
		            </button>
		        </form>
		    </div>
		</div>

    </div>
	   
</body>

</html>


